
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div style="width: 400px; height: 380px; background-color: rgb(36, 117, 192); text-align: center; margin: auto;
      margin-top: 100px; border-radius: 20px;">
    <h3 style="color: white; padding:25px ; font-size: 25px; font-weight: bold;">Manager Clothes</h3>
    <img style="width: 100px; height: 100px; border-radius: 50%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy1tizgLquEJR6yc9eQvgf5_aFBLG45ZZ5ZQ&usqp=CAU"/>
    <div style="margin-top: 20px;">
       <a style="color: aliceblue; margin-top: 20px; font-size: 20px;" href="/admin/user">Quản Lý User</a>
    </div>
    <div style="margin-top: 20px;">
       <a style="color: aliceblue; padding-top: 30px; font-size: 20px;" href="/admin/product">Quản Lý Sản Phẩm</a>
    </div>
  
  </div>
</div>