<div style="width: max-content; height: max-content; background-color: white; padding: 25px; margin-top: 55px;
  border-radius: 20px ; margin-left: 410px;">


    
    <h3 class="text-center" style="font-weight: bold;">Sửa loại Sản Phẩm</h3>

    <form action="/typeProductAdmin/udpateLoaiSP/{{loaiSP._id}}?_method=PUT" method="POST" style="margin-top: 40px;" enctype="multipart/form-data">

            <div class="form-group">
                <label for="text">Tên Sản Phẩm:</label>
                <input type="" class="form-control" placeholder="Enter name SP" name="product_type"
                    value="{{loaiSP.product_type}}">
            </div>

        <div class="form-group">
            <p for="image">Hình ảnh:</p>
            <img id="img-preview" style="width: 50px; height: 50px; border-radius: 50%; margin-bottom: 10px;"
                src="{{loaiSP.image}}" />
            <input type="file" class="form-control-file" id="img" name="image" value="{{products.image}}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/admin/getAllProducts" class="btn btn-default">Cancel</a>
    </form>
</div>

<script>
    const imgInput = document.getElementById('img');
    const imgPreview = document.getElementById('img-preview');

    imgInput.addEventListener('change', () => {
        const file = imgInput.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            imgPreview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    });
</script>